{
   "eventsFile": "/Users/user/.terp/indexer/.events.txt",
  "statusEndpoint": "http://localhost:26657/status",
 "db": {
    "dialect": "postgres",
    "host": "localhost",
    "database": "test1",
    "username": "postgres"
  },
  "meilisearch": {
    "host": "http://localhost:7700", ## CHANGE ME TO MEILISEARCH INSTANCE 
    "apiKey": "masterKey", ## CURRENT MEILISEARCH HAS NONE, REMOVE ME 
    "indexes": [
      {
        "index": "daos",
        "filterableAttributes": [
          "value.config.name",
          "value.config.description",
          "value.proposalCount"
        ],
        "sortableAttributes": ["value.proposalCount"],
        "formula": "daoCore/dumpState",
        "codeIdsKeys": ["dao-core"]
      }
    ]
  },
   "codeIds": {
    "dao-core": [ 25 ],
    "dao-proposal-single": [31],
    "dao-proposal-multiple": [30],
    "dao-voting-cw20-staked": [32],
    "dao-voting-cw4": [33],
    "dao-voting-cw721-staked": [34],
    "dao-voting-native-staked": [35],
    "cw20-stake": [20],
    "cw4-group": [21]
  },
  "daoDaoBase": "https://testnet.daodao.zone"
}
